<form action="/Redit-profile" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" value="<%= user.firstName %>" />
    </div>
  
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" value="<%= user.lastName %>" />
    </div>
  
    <div class="form-group">
      <label for="gender">Gender:</label>
      <select name="gender">
        <option value="Male" <%= user.gender === 'Male' ? 'selected' : '' %>>Male</option>
        <option value="Female" <%= user.gender === 'Female' ? 'selected' : '' %>>Female</option>
        <option value="Other" <%= user.gender === 'Other' ? 'selected' : '' %>>Other</option>
      </select>
    </div>
  
   
    <div class="form-group">
      <label for="profileImage">Profile Image:</label>
      <input type="file" name="profileImage" />
      <img src="<%= user.profileImage || '/uploads/default-avatar.jpg' %>" alt="Profile Image" width="100" />
    </div>
  
    <button type="submit">Save Changes</button>
  </form>
  